allow toolbox resourcecache_data_file:dir { search read open };

get_prop(toolbox, resourcecache_data_file)
set_prop(toolbox, resourcecache_data_file)
